@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div class="left">
        <h1>Faça login em nosso site para ter acesso as nossas tecnologias!</h1>
        <img class="img-decoration" src="~/computer.png" alt="image">
    </div>
    <form action="" method="post">
        <div>
            <h2>Login</h2>
            <label for="name">Usuário:</label>
            <input type="text" required placeholder="Digite seu nome de usuário">
            <label for="">Senha:</label>
            <input type="password" required placeholder="Digite sua senha">
        </div>

        <button type="submit">Submit</button>
    </form>
</div>